body {
    margin: 0;
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.huge {
    font-size: 40px;
}

.sortorder:after {
    content: '\25b2';
}

.sortorder.reverse:after {
    content: '\25bc';
}

.classe-header {
    color: #97daea;
}

.classe-icon {
    width: 100px;
}

.page-content {
    padding: 10% 20% 20%;
    text-align: center;
}

.page-content label {
    font-size: 16px;
}

.logo {
    max-width: 100%;
}

.grid {
    margin: 0 auto;
}

.grid div {
    text-align: center;
}

.btn-login {
    margin-top: 20px;
}

.md-navbar {
    height: 51px;
}

.md-brand {

}

.resource {
    color: limegreen;
}

.resource.engenheiro, .cientista, .intel {
    color: #97daea;
}

.base-layout {
    width: 80vw;
    margin: auto;
    height: 26.434782608695652173913043478261vw;
}

.facility-row {
    position: relative;
    width: 100%;
    height: 25%;
}

.facility-row:first-child .facility {
    border-top-color: #269abc;
}

.facility:first-child {
    border-left-color: #269abc;
}

.facility-empty {
    background-image: url("../img/facility-empty.jpg");
    background-size: 100% 100%;
}

.facility {
    position: relative;
    display: inline-block;
    width: 13%;
    height: 100%;
    border: 2px dashed transparent;
    border-bottom-color: #269abc;
    border-right-color: #269abc;
}

.facility img {
    margin: 0;
    position: absolute;
}

.facility-object {
    width: 100%;
    height: 100%;
}

.globe-fab-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 23px 12px 23px 23px;
    white-space: nowrap;
}

.btn-globe {
    padding: 0;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
}

.resources-list {
    min-height: 24px;
}

.list-group-item-action {
    cursor: pointer;
}

.accordion-progress a {
    cursor: pointer;
}

.dropdown-toggle {
    cursor: pointer;
}

.tag {
    font-size: 14px;
    padding: .3em .4em .4em;
    margin: 0 .1em;
}
.tag a {
    color: #bbb;
    cursor: pointer;
    opacity: 0.6;
}
.tag a:hover {
    opacity: 1.0
}
.tag .remove {
    vertical-align: bottom;
    top: 0;
}
.tag a {
    margin: 0 0 0 .3em;
}
.tag a .glyphicon-white {
    color: #fff;
    margin-bottom: 2px;
}

.md-map {
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    margin-top: 65px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.progress-circular {
    width: 60px;
    height: 60px;
    position: relative
}

.progress-circular-center {
    margin-right: auto;
    margin-left: auto
}

.progress-circular-gap {
    border-top: 2px solid #ff4081;
    position: absolute;
    top: 0;
    right: 29px;
    bottom: 0;
    left: 29px
}

.modal-m {
    text-align: center;
}

.progress-circular-left {
    left: 0
}

.progress-circular-orange .progress-circular-gap {
    border-top-color: #f89a46
}

.progress-circular-inline {
    display: inline-block;
    margin-top: 35%
}

.progress-circular-inner {
    -webkit-animation: pcircular-inner-rotate 5.25s cubic-bezier(.35, 0, .25, 1) infinite;
    animation: pcircular-inner-rotate 5.25s cubic-bezier(.35, 0, .25, 1) infinite;
    height: 60px;
    position: relative;
    width: 60px;
    will-change: transform
}

.progress-circular-left,
.progress-circular-right {
    height: 60px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 30px
}

.progress-circular-right {
    right: 0
}

.progress-circular-spinner {
    border: 4px solid #f89a46;
    border-bottom-color: transparent;
    border-radius: 50%;
    height: 60px;
    position: absolute;
    top: 0;
    width: 60px;
    will-change: transform
}

.progress-circular-left .progress-circular-spinner {
    -webkit-animation: pcircular-spinner-left 1.3125s cubic-bezier(.35, 0, .5, 1) infinite;
    animation: pcircular-spinner-left 1.3125s cubic-bezier(.35, 0, .5, 1) infinite;
    border-right-color: transparent;
    left: 0
}

.progress-circular-right .progress-circular-spinner {
    -webkit-animation: pcircular-spinner-right 1.3125s cubic-bezier(.35, 0, .5, 1) infinite;
    animation: pcircular-spinner-right 1.3125s cubic-bezier(.35, 0, .5, 1) infinite;
    border-left-color: transparent;
    right: 0
}

.progress-circular-orange .progress-circular-spinner {
    border-top-color: #f89a46
}

.progress-circular-orange .progress-circular-left .progress-circular-spinner {
    border-left-color: #f89a46
}

.progress-circular-orange .progress-circular-right .progress-circular-spinner {
    border-right-color: #f89a46
}

.progress-circular-wrapper {
    -webkit-animation: pcircular-wrapper-rotate 2.91667s linear infinite;
    animation: pcircular-wrapper-rotate 2.91667s linear infinite;
    will-change: transform
}

@-webkit-keyframes pcircular-inner-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@keyframes pcircular-inner-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg)
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg)
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg)
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg)
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg)
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg)
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg)
    }
    100% {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg)
    }
}

@-webkit-keyframes pcircular-spinner-left {
    0%, 100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@keyframes pcircular-spinner-left {
    0%, 100% {
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg)
    }
    50% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
}

@-webkit-keyframes pcircular-spinner-right {
    0%, 100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
}

@keyframes pcircular-spinner-right {
    0%, 100% {
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg)
    }
    50% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
}

@-webkit-keyframes pcircular-wrapper-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes pcircular-wrapper-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

@media (min-width: 768px) {
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
        width: 310px;
        min-width: 0;
    }
}