<div ng-controller="HomeController" ng-init="initHome()">
    <div header></div>
    <div class="col-lg-12 wow fadeIn" data-wow-duration="2s"
         style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;">

        <div class="row">
            <div class="col-lg-12">
                <h4>Ofertas de Trabalho</h4>
            </div>
        </div>

        <div offer-summary></div>

        <div class="row">
            <div class="col-lg-12">
                <div offer-list></div>
            </div>
        </div>

        <div class="globe-fab-container">
            <button class="btn btn-danger btn-globe" ng-click="addOffer()" tooltip="Adicionar Oferta">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>
</div>