<div ng-controller="HomeController" ng-init="initHome()">
    <div header></div>
    <div class="col-lg-12 wow fadeIn" data-wow-duration="2s"
         style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;">

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">Ofertas de Trabalho</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-thumbs-up fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>Aceitas</div>
                            </div>
                        </div>
                    </div>
                    <a ui-sref="home">
                        <div class="panel-footer">
                            <span class="pull-left">Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-exclamation fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">2</div>
                                <div>Recusadas</div>
                            </div>
                        </div>
                    </div>
                    <a ui-sref="home">
                        <div class="panel-footer">
                            <span class="pull-left">Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-star-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div>Avaliadas</div>
                            </div>
                        </div>
                    </div>
                    <a ui-sref="home">
                        <div class="panel-footer">
                            <span class="pull-left">Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-ban fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">0</div>
                                <div>Canceladas</div>
                            </div>
                        </div>
                    </div>
                    <a ui-sref="home">
                        <div class="panel-footer">
                            <span class="pull-left">Detalhes</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    <div class="list-group-item active">
                        <input type="text" class="form-control" placeholder="buscar">
                    </div>
                    <div class="list-group-item" ng-repeat="offer in offers">
                        <div class="list-group-item-heading">
                            {{offer.employerDetail.name}}
                        </div>
                        <div class="list-group-item-text">
                            <span ng-show="offer.address !== ''">{{offer.address}}</span>
                            <span ng-show="offer.address === ''">{{offer.employerDetail.address}}</span>
                        </div>

                        <div></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="globe-fab-container">
            <button class="btn btn-danger btn-globe" ng-click="addOffer()" tooltip="Adicionar Oferta">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>
</div>