<div ng-controller="HomeController" ng-init="initHome()">
    <div header></div>
    <div class="col-lg-12 wow fadeIn" data-wow-duration="2s"
         style="visibility: visible; animation-duration: 2s; animation-name: fadeIn;">

        <div class="row">
            <div class="col-lg-12">
                <h4>Ofertas de Trabalho</h4>
            </div>
        </div>

        <div offer-summary></div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    <div class="list-group-item active">
                        <input type="text" class="form-control" placeholder="buscar">
                    </div>
                    <div class="list-group-item">
                        <label class="control-label">Ordenar por:&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <label class="checkbox-inline">
                            <input type="radio" checked name="optradio" ng-click="order('employer')">Empregador
                            <span class="sortorder" ng-show="predicate === 'employer'" ng-class="{reverse:reverse}"></span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="optradio" ng-click="order('cleaners')">Diarista
                            <span class="sortorder" ng-show="predicate === 'cleaners'" ng-class="{reverse:reverse}"></span>
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="optradio" ng-click="order('status')">Status
                            <span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></span>
                        </label>
                    </div>
                    <a class="list-group-item list-group-item-action" dir-paginate="offer in offers | filter:searchtext | orderBy:predicate:reverse | itemsPerPage : 20">
                        <div class="list-group-item-heading">
                            <span class="h4 text-uppercase">{{offer.employerDetail.name}}</span>
                            <span class="label label-primary" ng-show="offer.status === 'aceita'">ACEITA</span>
                            <span class="label label-warning" ng-show="offer.status === 'recusada'">RECUSADA</span>
                            <span class="label label-danger" ng-show="offer.status === 'cancelada'">CANCELADA</span>
                            <span class="label label-success" ng-show="offer.status === 'cadastrada'">CADASTRADA</span>
                            <span class="label label-default">DIARISTAS: {{offer.cleanersSent.length}}</span>
                        </div>
                        <div class="list-group-item-text">
                            <span ng-show="offer.address !== ''">{{offer.address}}</span>
                            <span ng-show="offer.address === ''">{{offer.employerDetail.address}}</span>
                        </div>

                        <div></div>
                    </a>
                    <dir-pagination-controls boundary-links="true" ></dir-pagination-controls>
                </div>
            </div>
        </div>

        <div class="globe-fab-container">
            <button class="btn btn-danger btn-globe" ng-click="addOffer()" tooltip="Adicionar Oferta">
                <span class="fa fa-plus"></span>
            </button>
        </div>
    </div>
</div>