<div class="md-navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#pe-navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand md-brand" ui-sref="home">
                    MD BACKOFFICE
                </a>
            </div>
            <div class="collapse navbar-collapse" id="pe-navbar">
                <ul class="nav navbar-nav navbar-top-links navbar-right">
                    <li>
                        <a ui-sref="home"><span class="glyphicon glyphicon-home"></span></a>
                    </li>
                    <li>
                        <a ui-sref="home"><span class="fa fa-female"></span>&nbsp;Diaristas</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-bookmark"></span>
                            <span class="badge">{{registered.length}}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li ng-repeat="offer in registered">
                                <a ui-sref="home">
                                    <div>
                                        <strong>{{offer.employerDetail.name}}</strong>
                                        <span class="pull-right text-muted">{{offer.create.$date | date : 'dd/MM/yy HH:mm'}}</span>
                                    </div>
                                    <div>
                                        <span ng-show="offer.address !== ''">{{offer.address}}</span>
                                        <span ng-show="offer.address === ''">{{offer.employerDetail.address}}</span>
                                    </div>
                                </a>
                                <div class="divider"></div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-bell"></span>
                            <span class="badge">{{rejected.length}}</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li ng-repeat="offer in rejected">
                                <a ui-sref="home">
                                    <div>
                                        <i class="fa fa-exclamation"></i>&nbsp;Oferta Recusada
                                        <span class="pull-right text-muted small"><time am-time-ago="offer.lastReport.$date"></time></span>
                                    </div>
                                    <div>
                                        <strong>{{offer.employerDetail.name}}</strong>,
                                        <span ng-show="offer.address !== ''">{{offer.address}}</span>
                                        <span ng-show="offer.address === ''">{{offer.employerDetail.address}}</span>
                                        {{offer.create.$date | date : 'dd/MM/yy HH:mm'}}
                                    </div>
                                </a>
                                <div class="divider"></div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-user"></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a ui-sref="home"><i class="fa fa-user fa-fw"></i>&nbsp;Meu Perfil</a>
                            </li>
                            <li>
                                <a ui-sref="home"><i class="fa fa-gear fa-fw"></i>&nbsp;Configurações</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ui-sref="home"><i class="fa fa-sign-out fa-fw"></i>&nbsp;Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>