<div class="md-navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#pe-navbar"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand md-brand" ui-sref="home">
                    MD BACKOFFICE
                </a>
            </div>
            <div class="collapse navbar-collapse" id="pe-navbar">
                <ul class="nav navbar-nav navbar-top-links navbar-right">
                    <li>
                        <a ui-sref="home"><span class="glyphicon glyphicon-home"></span></a>
                    </li>
                    <li>
                        <a ui-sref="home"><span class="fa fa-female"></span>&nbsp;Diaristas</a>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-bookmark"></span>
                            <span class="badge">1</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li>
                                <a ui-sref="home">
                                    <div>
                                        <strong>Empregador Fulano de Tal</strong>
                                        <span class="pull-right text-muted">29/08/16</span>
                                    </div>
                                    <div>
                                        Mussum Ipsum, cacilds vidis litro abertis. Admodum accumsan disputationi eu sit.
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-bell"></span>
                            <span class="badge">2</span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-alerts">
                            <li>
                                <a ui-sref="home">
                                    <div>
                                        <i class="fa fa-exclamation"></i>&nbsp;Oferta Recusada
                                        <span class="pull-right text-muted small">10 minutos atras</span>
                                    </div>
                                    <div>
                                        Empregador Ciclano de Almeida Silva, São Cristovão
                                        01/09/16 as 15h
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ui-sref="home">
                                    <div>
                                        <i class="fa fa-exclamation"></i>&nbsp;Oferta Recusada
                                        <span class="pull-right text-muted small">20 minutos atras</span>
                                    </div>
                                    <div>
                                        Empregador Ciclano de Almeida Silva, São Cristovão
                                        01/09/16 as 15h
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <span class="fa fa-user"></span>
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a ui-sref="home"><i class="fa fa-user fa-fw"></i>&nbsp;Meu Perfil</a>
                            </li>
                            <li>
                                <a ui-sref="home"><i class="fa fa-gear fa-fw"></i>&nbsp;Configurações</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ui-sref="home"><i class="fa fa-sign-out fa-fw"></i>&nbsp;Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>