<div class="list-group">
    <div class="list-group-item active">
        <input type="text" class="form-control" placeholder="buscar">
    </div>
    <div class="list-group-item">
        <label class="control-label">Ordenar por:&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <label class="radio-inline">
            <input type="radio" checked name="optradio" ng-click="order('employer')">Empregador
            <span class="sortorder" ng-show="predicate === 'employer'" ng-class="{reverse:reverse}"></span>
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" ng-click="order('cleaners')">Diarista
            <span class="sortorder" ng-show="predicate === 'cleaners'" ng-class="{reverse:reverse}"></span>
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" ng-click="order('status')">Status
            <span class="sortorder" ng-show="predicate === 'status'" ng-class="{reverse:reverse}"></span>
        </label>
    </div>
    <a class="list-group-item" dir-paginate="offer in offers | filter:searchtext | orderBy:predicate:reverse | itemsPerPage : 20">
        <div class="list-group-item-heading" ng-click="setselectedrow($index)">
            <span class="label label-default medium">{{offer.day.$date | amDateFormat : 'ddd DD/MM'}}</span>&nbsp;
            <span class="h4 text-uppercase list-group-item-action">
                {{offer.employerDetail.name}}
            </span>
            <span class="label label-primary" ng-show="offer.status === 'aceita'">ACEITA</span>
            <span class="label label-warning" ng-show="offer.status === 'recusada'">RECUSADA</span>
            <span class="label label-danger" ng-show="offer.status === 'cancelada'">CANCELADA</span>
            <span class="label label-success" ng-show="offer.status === 'cadastrada'">CADASTRADA</span>
            <span class="label label-default">DIARISTAS: {{offer.cleanersSent.length}}</span>
        </div>
        <div class="list-group-item-text">
            <span ng-show="offer.completeAddress !== ''">{{offer.completeAddress}}</span>
            <span ng-show="offer.completeAddress === ''">{{offer.employerDetail.completeAddress}}</span>
        </div>

        <div class="list-group list-cleaners" ng-class="{'list-cleaners-show':$index === selectedrow}">
            <div class="list-group-item active">
                Diaristas
            </div>
            <div class="list-group-item" ng-repeat="cleaner in offer.cleanersSent">
                <span class="list-group-item-heading list-group-item-action" ng-click="cleanerDetail(cleaner.cleaner)">{{cleaner.cleaner.name}}</span>
                <span class="label label-success" ng-show="cleaner.status === 'enviada'">ENVIADA</span>
                <span class="label label-info" ng-show="cleaner.status === 'recebida'">RECEBIDA</span>
                <span class="label label-primary" ng-show="cleaner.status === 'aceita'">ACEITA</span>
                <span class="label label-warning" ng-show="cleaner.status === 'recusada'">RECUSADA</span>
                <span class="text-muted"><time am-time-ago="cleaner.date.$date"></time></span>
            </div>
        </div>
    </a>
    <dir-pagination-controls boundary-links="true" ></dir-pagination-controls>
</div>