<div class="col-md-12 resources-list">
    <div class="pull-right">
        <span class="resource">
            &nbsp;EN.: {{campanha.energy}}/{{campanha.max}}&nbsp;<i class="fa fa-flash"></i>
        </span>
        <span class="resource engenheiro">
            &nbsp;ENG.: {{campanha.engineers}}&nbsp;<i class="fa fa-wrench"></i>
        </span>
        <span class="resource cientista">
            &nbsp;CIEN.: {{campanha.scientist}}&nbsp;<i class="fa fa-flask"></i>
        </span>
        <span class="resource">
            &nbsp;LIGAS: {{campanha.alloy}}&nbsp;<i class="fa fa-database"></i>
        </span>
        <span class="resource">
            &nbsp;ELER.: {{campanha.elerium}}&nbsp;<i class="fa fa-cubes"></i>
        </span>
        <span class="resource intel">
            &nbsp;INTEL.: {{campanha.intel}}&nbsp;<i class="fa fa-user-secret"></i>
        </span>
        <span class="resource">
            &nbsp;SUPR.: {{campanha.supplies}}&nbsp;<i class="fa fa-money"></i>
        </span>
        <span class="resource">
            &nbsp;{{campanha.income}}&nbsp;<i class="fa fa-sort"></i>
        </span>
    </div>
</div>